<!--
  The Head
-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if page.layout == 'home' or page.layout == 'post' %}

    <!-- i18n for `_javascript/utils/timeago.js` -->
    <meta name="day-prompt" content="{{ site.data.locales[lang].post.timeago.day }}">
    <meta name="hour-prompt" content="{{ site.data.locales[lang].post.timeago.hour }}">
    <meta name="minute-prompt" content="{{ site.data.locales[lang].post.timeago.minute }}">
    <meta name="justnow-prompt" content="{{ site.data.locales[lang].post.timeago.just_now }}">

  {% endif %}

  {% seo title=false %}

  <title>
  {%- unless page.layout == "home" -%}
    {% if page.layout == "post" %}
      {{ page.title }}
    {% else %}
      {% t page.title %}
    {% endif %}

    {{- " | " -}}
  {%- endunless -%}
    {{ site.title }}
  </title>

  {% include favicons.html %}

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ '/assets/css/fontawesome.min.css' | relative_url }}">

  {% include css-selector.html %}

  <!-- JavaScript -->

  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

</head>
